{% extends 'base.html' %}

{% block title_right %} | URL Shortener{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
<script src="{{ url_for('static', filename='scripts/copy.js') }}" defer></script>
<script src="{{ url_for('static', filename='scripts/disable.js') }}" defer></script>
{% endblock %}

{% block body %}
<div class="container">
    <h2>Shorten URLs for Free</h2>
    {% if msg: %}<div class="form-msg">{{ msg }}</div>{% endif %}
    <form action="{{ url_for('index') }}" method="post">
        <div class="input-box">
            <input required type="text" name="url">
            <label for="url">URL</label>
        </div>
        {% if session["loggedin"] == True: %}
        <div class="if_logged_input">
            <div class="input-box exp_date_input">
                <input type="datetime-local" name="exp_date" min="{{ exp_date_min }}" max="{{ exp_date_max }}">
            </div>
            <div class="is_permanent_input">
                <label for="is_permanent">Make URL permanent?</label>
                <input type="checkbox" name="is_permanent">
            </div>
        </div>
        {% endif %}
        <input class="submit-btn" type="submit" value="Shorten">
    </form>
    {% if short_url %}
        <div class="short-url-container">
            <input id="copy-text" type="text" value="{{ request.host }}/{{ short_url }}" readonly>
            <button onclick="copyText()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="24px" height="24px" fill="#bb86fc">
                    <path d="M384 336H192c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16l140.1 0L400 115.9V320c0 8.8-7.2 16-16 16zM192 384H384c35.3 0 64-28.7 64-64V115.9c0-12.7-5.1-24.9-14.1-33.9L366.1 14.1c-9-9-21.2-14.1-33.9-14.1H192c-35.3 0-64 28.7-64 64V320c0 35.3 28.7 64 64 64zM64 128c-35.3 0-64 28.7-64 64V448c0 35.3 28.7 64 64 64H256c35.3 0 64-28.7 64-64V416H272v32c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V192c0-8.8 7.2-16 16-16H96V128H64z"/>
                </svg>
            </button>
        </div>
    {% endif %}
</div>
{% endblock %}