{% extends 'base.html' %}

{% block title_left %}Register | {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}">
{% endblock %}

{% block body %}
<div class="form-box">
    <h2>Sign up</h2>
    {% if msg: %}<div class="form-msg">{{ msg }}</div>{% endif %}
    <form action="{{ url_for('register') }}" method="post">
        <div class="input-box">
            <input required type="text" name="username">
            <label for="username">Username</label>
        </div>
        <div class="input-box">
            <input required type="password" name="password">
            <label for="password">Password</label>
        </div>
        <div class="input-box">
            <input required type="password" name="confirm-password">
            <label for="confirm-password">Confirm Password</label>
        </div>
        <input class="submit-btn" type="submit" value="Register">
    </form>
    <div class="redirect-box">
        Already have an account? <a href="{{ url_for('login') }}">Login here</a>.
    </div>
</div>
{% endblock %}