.form-box {
    margin: auto;
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    margin-bottom: 65px;
}

.form-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.form-box .input-box {
    position: relative;
}

.form-box .input-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.form-box .input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.form-box .input-box input:focus ~ label,
.form-box .input-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #BB86FC;
    font-size: 12px;
}

.form-box form .submit-btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #BB86FC;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    margin-bottom: 5px;
    letter-spacing: 4px;
    border: 1px solid #BB86FC;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}

.form-box form .submit-btn:hover {
    background: #BB86FC;
    color: #fff;
    box-shadow: 0 0 1px #BB86FC18,
        0 0 15px #BB86FC18,
        0 0 20px #BB86FC18,
        0 0 30px #BB86FC18;
}

.form-box .redirect-box {
    color: #fff;
    margin-top: 25px;
}

.form-box .redirect-box a {
    color: #BB86FC;
    transition: 0.3s ease;
}

.form-box .redirect-box a:hover {
    color: #BB86FCad;
}

.form-box .form-msg {
    color: #fff;
    margin-bottom: 20px;
}
